PORT=3000
MONGO_URL='mongo_url'
JWT_SECRET='xrnf43298cnty82nyxf8324nysr718b32qtrt1y483uxtn79px23q7zfod1srn8fy23578rxtfz13st4fq'
JWT_EXPIRES_IN='5h'
EMAIL_USER='mailtrap_user'
EMAIL_PASS='mailtrap_passwd'
EMAIL_FROM='Todos app admin <admin@example.com>'

MAILGUN_HOST='smtp.mailgun.org'
MAILGUN_PORT=587
MAILGUN_USER='mailgun_user'
MAILGUN_PASS='mailgun_passwd'
